* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(rgba(247, 35, 7, 0.5), rgba(112, 111, 111, 0.8)), url(../img/lineas-geometricas-de-neon-abstracto_7680x5120_xtrafondos.com.jpg);
  background-position: center;
  background-repeat: no-repeat; }

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.tarjeta {
  background: #fff;
  width: 300px;
  height: 100%;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 43px 12px rgba(0, 0, 0, 0.88); }
  .tarjeta h5 {
    padding: 10px; }
  .tarjeta p {
    text-align: center; }

.tarjeta-image {
  height: 320px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0; }

/* CONTACT INFO */
/* LARGE SIZE */
.card:hover {
  -webkit-box-shadow: 2px 2px 43px 12px rgba(0, 0, 0, 0.88);
  box-shadow: 2px 2px 43px 12px rgba(0, 0, 0, 0.88);
  transition: 0.5s; }

.contact-boxes {
  color: #f5f5f5;
  padding: 30px; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

ul {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }
  .logo span {
    color: #B70E21; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }
  .contact-wrapper > * {
    padding: 1em; }

.contact-form {
  background: #222222;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contact-form form label {
      display: block; }
    .contact-form form p {
      margin: 0;
      padding: 1em; }
    .contact-form form .block {
      grid-column: 1 / 3; }
    .contact-form form button {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031;
      background: #B70E21;
      border: 0;
      text-transform: uppercase;
      padding: 1em; }
      .contact-form form button:hover {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0; }
      .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0; }
    .contact-form form input {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031; }
    .contact-form form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #d63031; }

.contact-info {
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center; }
  .contact-info h4 {
    text-align: center;
    margin: 0 0 2rem 0; }
  .contact-info ul {
    text-align: center;
    margin: 0 0 2rem 0; }
  .contact-info p {
    text-align: center;
    margin: 0 0 2rem 0; }

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .contact-wrapper > * {
      padding: 2em; }
  .contact-info h4 {
    text-align: left; }
  .contact-info ul {
    text-align: left; }
  .contact-info p {
    text-align: left; } }

.container-login {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center; }

.wrapper-login {
  background: #070707;
  background: linear-gradient(-135deg, #f52222, #656875);
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); }
  .wrapper-login .title-login {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px;
    background: linear-gradient(-135deg, #f52222, #656875); }
  .wrapper-login .form-login {
    padding: 10px 30px 50px 30px; }
    .wrapper-login .form-login .field-login {
      height: 50px;
      width: 100%;
      margin-top: 20px;
      position: relative; }
      .wrapper-login .form-login .field-login input {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 17px;
        padding-left: 20px;
        border: 1px solid lightgrey;
        border-radius: 25px;
        transition: all 0.3s ease; }
        .wrapper-login .form-login .field-login input:focus {
          border-color: #f52222; }
      .wrapper-login .form-login .field-login label {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #999999;
        font-weight: 400;
        font-size: 17px;
        pointer-events: none;
        transform: translateY(-50%);
        transition: all 0.3s ease; }

.form-login .field-login input:valid {
  border-color: #f52222; }
  .form-login .field-login input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #f52222;
    background: #fff;
    transform: translateY(-50%); }

.form-login .field-login input:focus ~ label {
  top: 0%;
  font-size: 16px;
  color: #f52222;
  background: #fff;
  transform: translateY(-50%); }

.form-login .field-login input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #f52222, #656875);
  transition: all 0.3s ease; }
  .form-login .field-login input[type="submit"]:active {
    transform: scale(0.95); }

.form-login .content-login {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around; }
  .form-login .content-login .checkbox-login {
    display: flex;
    align-items: center;
    justify-content: center; }
  .form-login .content-login input {
    width: 15px;
    height: 15px;
    background: #f52222; }
  .form-login .content-login label {
    color: #262626;
    user-select: none;
    padding: 5px; }
  .form-login .content-login .pass-link {
    color: "#f52222"; }

.form-login .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center; }
  .form-login .signup-link a {
    color: #f52222;
    text-decoration: none; }
    .form-login .signup-link a:hover {
      text-decoration: underline; }

.form-login .pass-link a {
  color: #f52222;
  text-decoration: none; }
  .form-login .pass-link a:hover {
    text-decoration: underline; }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .container .card {
    margin: 20px;
    font-weight: bold;
    position: relative;
    width: 300px;
    background: url(../img/circuit.jpg);
    background-position: center;
    background-repeat: no-repeat; }
    .container .card a {
      padding: 30px;
      width: 100%;
      height: 520px;
      border-radius: 10px;
      background: linear-gradient(rgba(247, 35, 7, 0.8), rgba(112, 111, 111, 0.9)), url(../img/circuit.jpg);
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 2px 2px 43px 12px rgba(0, 0, 0, 0.88);
      text-decoration: none;
      display: block;
      transition: 0.25s ease; }
      .container .card a:hover {
        transform: translate(-30px, -30px);
        border-color: #B70E21; }
        .container .card a:hover .card--display {
          display: none; }
        .container .card a:hover .card--hover {
          display: block; }
      .container .card a .card--display i {
        font-size: 60px; }
      .container .card a .card--display h2 {
        margin: 20px 0 0; }
      .container .card a .card--hover {
        display: none; }
        .container .card a .card--hover p {
          font-weight: normal;
          line-height: 1.5;
          color: white; }
    .container .card .card--border {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1; }

.armada-1 {
  background-image: url(../img/armada-1.jpg); }

.armada-2 {
  background-image: url(../img/armada-2.jpg); }

.armada-3 {
  background-image: url(../img/armada-3.jpg); }

.armada-4 {
  background-image: url(../img/armada-4.jpg); }

.armada-5 {
  background-image: url(../img/armada-5.jpg); }

.armada-6 {
  background-image: url(../img/armada-6.jpg); }

.armada-7 {
  background-image: url(../img/armada-7.jpg); }

.armada-8 {
  background-image: url(../img/armada-9.jpg); }

.perifericos-1 {
  background-image: url(../img/perifericos-1.jpg); }

.perifericos-2 {
  background-image: url(../img/perifericos-2.jpg); }

.perifericos-3 {
  background-image: url(../img/perifericos-3.jpg); }

.perifericos-4 {
  background-image: url(../img/perifericos-4.jpg); }

.perifericos-5 {
  background-image: url(../img/perifericos-5.jpg); }

.perifericos-6 {
  background-image: url(../img/perifericos-6.jpg); }

.perifericos-7 {
  background-image: url(../img/perifericos-7.png); }

.perifericos-8 {
  background-image: url(../img/perifericos-8.jpg); }

.hardaware-1 {
  background-image: url(../img/hardware-1.jpg); }

.hardaware-2 {
  background-image: url(../img/hardware-2.jpg); }

.hardaware-3 {
  background-image: url(../img/hardware-3.jpg); }

.hardaware-4 {
  background-image: url(../img/hardware-4.jpg); }

.hardaware-5 {
  background-image: url(../img/hardware-5.jpg); }

.hardaware-6 {
  background-image: url(../img/hardware-6.jpg); }

.hardaware-7 {
  background-image: url(../img/hardware-7.jpg); }

.hardaware-8 {
  background-image: url(../img/hardware-8.jpg); }

.index-1 {
  background-image: url(../img/Product-1.jpg); }

.index-2 {
  background-image: url(../img/Product-2.jpg); }

.index-3 {
  background-image: url(../img/Product-3.jpg); }

.index-4 {
  background-image: url(../img/Product-4.jpg); }

.index-5 {
  background-image: url(../img/Product-14.jpg.jpg); }

.index-6 {
  background-image: url(../img/Product-13.jpg.jpg); }

.index-7 {
  background-image: url(../img/Product-9.jpg.jpg); }

.index-8 {
  background-image: url(../img/Product-10.jpg.jpg); }

@media screen and (max-width: 980px) {
  .media {
    display: none; } }
