.container{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  }
.wrapper {
    background: #070707;
    background: linear-gradient(-135deg, #f52222, #656875); 
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	.title {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
		line-height: 100px;
		color: #fff;
		user-select: none;
		border-radius: 15px;
		background: linear-gradient(-135deg, #f52222,#656875);
	}
	form {
		padding: 10px 30px 50px 30px;
		.field {
			height: 50px;
			width: 100%;
			margin-top: 20px;
			position: relative;
			input {
				height: 100%;
				width: 100%;
				outline: none;
				font-size: 17px;
				padding-left: 20px;
				border: 1px solid lightgrey;
				border-radius: 25px;
				transition: all 0.3s ease;
				&:focus {
					border-color: #f52222;
				}
			}
			label {
				position: absolute;
				top: 50%;
				left: 20px;
				color: #999999;
				font-weight: 400;
				font-size: 17px;
				pointer-events: none;
				transform: translateY(-50%);
				transition: all 0.3s ease;
			}
		}
	}
}
form {
	.field {
		input {
			&:valid {
				border-color: #f52222;
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color: #f52222;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
			&:focus {
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color:#f52222;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
		}
		input[type="submit"] {
			color: #fff;
			border: none;
			padding-left: 0;
			margin-top: -10px;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;
			background: linear-gradient(-135deg,  #f52222,#656875);
			transition: all 0.3s ease;
			&:active {
				transform: scale(0.95);
			}
		}
	}
	.content {
		display: flex;
		width: 100%;
		height: 50px;
		font-size: 16px;
		align-items: center;
		justify-content: space-around;
		.checkbox {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		input {
			width: 15px;
			height: 15px;
			background:#f52222;
		}
		label {
			color: #262626;
			user-select: none;
			padding: 5px;
		}
		.pass-link {
			color: "#f52222";
		}
	}
	.signup-link {
		color: #262626;
		margin-top: 20px;
		text-align: center;
		a {
			color: #f52222;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.pass-link {
		a {
			color: #f52222;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
