.hardaware-1 {
	background-image: url(../img/hardware-1.jpg);
}
.hardaware-2 {
	background-image: url(../img/hardware-2.jpg);
}
.hardaware-3 {
	background-image: url(../img/hardware-3.jpg);
}
.hardaware-4 {
	background-image: url(../img/hardware-4.jpg);
}
.hardaware-5 {
	background-image: url(../img/hardware-5.jpg);
}
.hardaware-6 {
	background-image: url(../img/hardware-6.jpg);
}
.hardaware-7 {
	background-image: url(../img/hardware-7.jpg);
}
.hardaware-8 {
	background-image: url(../img/hardware-8.jpg);
}