.perifericos-1 {
	background-image: url(../img/perifericos-1.jpg);
}
.perifericos-2 {
	background-image: url(../img/perifericos-2.jpg);
}
.perifericos-3 {
	background-image: url(../img/perifericos-3.jpg);
}
.perifericos-4 {
	background-image: url(../img/perifericos-4.jpg);
}
.perifericos-5 {
	background-image: url(../img/perifericos-5.jpg);
}
.perifericos-6 {
	background-image: url(../img/perifericos-6.jpg);
}
.perifericos-7 {
	background-image: url(../img/perifericos-7.png);
}
.perifericos-8 {
	background-image: url(../img/perifericos-8.jpg);
}