.index-1 {
	background-image: url(../img/Product-1.jpg);
}
.index-2 {
	background-image: url(../img/Product-2.jpg);
}
.index-3 {
	background-image: url(../img/product-3.jpg);
}
.index-4 {
	background-image: url(../img/product-4.jpg);
}
.index-5 {
	background-image: url(../img/Product-14.jpg.jpg);
}
.index-6 {
	background-image: url(../img/Product-13.jpg.jpg);
}
.index-7 {
	background-image: url(../img/Product-9.jpg.jpg);
}
.index-8 {
	background-image: url(../img/Product-10.jpg.jpg);
}